.hidden {
    display: none;
}

.mapLink {
    position: absolute;
}

.mapLink span {
    display: none;
    position: relative;
    top: -80px;
    left: 30px;
    font-weight: 600;
    background: #333;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
}

.mapLink:hover span {
    display: block;
    z-index: 10;
}

.container {
    padding-top: 30px;
}
